<h1>@<%= @user.username %>'s Profile & Tweets</h1>

<p><%= @user.name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>

<p>
    <!-- If the current user is following then we give them an unfollow btn
    If the current user is not following and it is not ourselves then we give them a follow button  -->
    <% if current_user.following.include?(@user.id) %>
        <%= link_to "Unfollow", unfollow_path(id: @user.id), class:"btn btn-danger" %>
    <% else %>
        <% if current_user.id != @user.id %>    
            <%= link_to "Follow", now_following_path(id: @user.id), class:"btn btn-primary" %>
        <% end %>
    <% end %>

</p>


<!-- We call @user because that is the variable we have access to. Then we have to jump to the tweets of that user so we can use the tweets data -->
<% @user.tweets.each do |tweet| %>
    <div>
        <p>@<%= @user.username %></p>
	<p><%= tweet.message %></p>
    </div>
<% end %>